.breadcrumbs {
    display: grid;  
    height: 5vh;    
    grid-template-rows: repeat(1, 98%);     
    margin-bottom: 5px;    
    margin-left: 1%;
    margin-top: 5px;
}
.breadcrumbs ul {
    display: inline-table;
    list-style: none outside none;
}
.breadcrumbs ul li {
    display: inline;
}
.breadcrumbs ul li a {
    display: block;
    float: left;    
    background: #3498db;
    text-align: center;
    padding: 1px 10px 3px 20px;
    position: relative;
    margin: 0;
    font-size: 0.9375em;
    text-decoration: none;
    color: #fff;
}

.breadcrumbs ul li a:after {
    content: "";  
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-left: 12px solid #3498db;
    position: absolute; right: -9px; top: 0;
    z-index: 1;
}

.breadcrumbs ul li a:before {
    content: "";
    border-bottom: 12px solid transparent;
    border-left: 12px solid #FFF387;
    border-top: 12px solid transparent;
    position: absolute;
    top: 0;
    left: 0;
}

.breadcrumbs ul li:first-child a {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
.breadcrumbs ul li:first-child a:before {
    display: none;
}
.breadcrumbs ul li:last-child a {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    padding-right: 10px;
}
.breadcrumbs ul li:last-child a:after {
    display: none;
}

.breadcrumbs ul li a:hover {
    background: none repeat scroll 0 0 #fa5ba5;
}
.breadcrumbs ul li a:hover:after {
    border-left-color: #fa5ba5;
}