@import url(reset.css);

* {
  margin: 0;
  padding: 0;
}    

html, body{
  height: 100%;
  width: 100vw;  
}

body { 
  text-align: center;
  font-size: 16px;
  min-width: 320px;
  position: relative;
  margin: 0 auto;
  line-height: 1.65;
  font-family: raleway-example, sans-serif;
  overflow-x: hidden;
  opacity: 1;
}

.grid{
  display: grid;
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

/*Начало шапки сайта*/
/*-----------------*/
/*Конец шапки сайта*/

/*Начало хлебных крошек*/
/*--------------------*/
/*Конец хлебных крошек*/

/*Начало topline*/

/*Конец topline*/

.tables{   
  grid-gap: 10px;  
  margin-left: 4%; 
  margin-bottom: 20px;  
}

.tables .table_1, .tables .table_2{
  grid-column: 1/-1;
  width: 90%;  
}

table, td, th{
	border: 1px solid #cccccc;
	text-align: center;
}

td{
	background-color: #FF99FF;
	font: bold 1.0625em Arial, sans-serif;	
}

th{
	background-color: #66FFFF;
	font: bold 1.125em Arial, sans-serif;	
}

table{	
	border-collapse: collapse;
	margin-left: 5%;	
	margin-top: 10px;	
}

.up{
	background-color: #FF6699;
}

.shtuki{
	background-color: #66FF66;
}
.cena{
	background-color: #FFFF00;
}

h1{
	width: 90%;	
	text-align: center;
	margin: 10px 4.5% 5px 4.5%;
	font: bold 1.1em candara, sans-serif;
	color: #232DE1;
}

h2{
	text-align: left;	
	font: bold 1.3em candara, sans-serif;
	color: #FF8000;
}

h3{
  text-align: left;
  font: bold 1.3em candara, sans-serif;
  color: #FF8000;
}

.pictures{	
	grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;     
  margin-bottom: 20px;         
}

.pictures .pict_kirp1, .pictures .pict_kirp2, 
.pictures .pict_kirp3, .pictures .pict_kirp4{
	width: 33%; 
  height: 350px;
  margin-left: 20%;
  margin-top: 20px;
  margin-bottom: 30px;  
  background-repeat: no-repeat; 
}
#textKirpich{
	width: 80%;
  height: auto;
  margin-left: 10%;	
  font: 600 1.2em cambria, sans-serif;
  text-align: left;
}
span{
  color: #FF8000;
}
/*Начало сайдбара*/
/*Конец сайдбара*/





