@media only screen and (max-width: 1000px){
	table{	
	width: 100%;
	margin-left: 0;
}
	th{	
	font: 1.1em Arial, sans-serif;	
}
	td{
	font: bold 1em Arial, sans-serif;	
}    
	.pictures{
	grid-template-columns: repeat(1, 1fr);
}
	.pictures .pict_doska2, 
	.pictures .pict_doska3, 
	.pictures .pict_doska4, 
	.pictures .pict_doska5{
	width: 100%;	   
  margin: 15px auto 5px auto;		
}
	#textDoska{	   
	font: 1.1em Arial, sans-serif;
}
h2{	
	font: bold 1.2em Arial, sans-serif;	
}
h3 {
	font: bold 1.2em candara, sans-serif;
}
}

@media only screen and (max-width: 700px){		
	.tables{
	grid-gap: 20px;
}   
}

@media only screen and (max-width: 550px){	
	#tags{
	width: 50%;
	margin: 20px auto;
}
}

@media only screen and (max-width: 450px){
	h1 {   
    font: bold 0.8em Arial, sans-serif;    
}
	h2 {
    font: bold 1em Arial, sans-serif;
}	
	th {
	font: 1em Arial, sans-serif;
}
	.breadcrumbs ul li a{
	font-size: 0.8em;
} 
	#textDoska {
    font: 1em Arial, sans-serif;
}	
}

@media only screen and (max-width: 400px){		
	.tables{		
		margin-left: 0;					
	}
	td {
    font: bold 0.9em Arial, sans-serif;
}
	th {
    font: 0.9em Arial, sans-serif;
}   
	.pictures .pict_doska4, .pictures .pict_doska5{
		width: 100%;  
		margin-top: 10px; 
		margin-bottom: 10px;   
		margin-left: -3%;
		background-repeat: no-repeat;
}
}

