@media only screen and (max-width: 1000px){
	.pictures{
	grid-template-columns: repeat(1, 1fr);
	}
	.pictures .pict_keramblock, .pictures .pict_keramblock2, 
	.pictures .pict_vidy, .pictures .pict_vidy2{
	width: 100%;	   
    margin: 15px auto 5px auto;		
}
}

@media only screen and (max-width: 700px){
	p{
	font: bold 1.1em Arial, sans-serif;
}
	ul, li{	
	font: 1em Arial, sans-serif;
}
	th{
	background-color: #DAE104;
	font: bold 1.1em Arial, sans-serif;	
}
	td{
	font: bold 1em Arial, sans-serif;	
}	
}

@media only screen and (max-width: 550px){
	p{
	font: bold 1em Arial, sans-serif;
}
	ul, li{	
	font: 0.9em Arial, sans-serif;
}
	th{
	background-color: #DAE104;
	font: bold 1em Arial, sans-serif;	
}
	td{
	font: bold 0.9em Arial, sans-serif;	
}	
}

@media only screen and (max-width: 550px){
	th{
	background-color: #DAE104;
	font: bold 0.9em Arial, sans-serif;	
}
	td{
	font: bold 0.8em Arial, sans-serif;	
}
    ul, li{
	width: 98%;	
	margin-left: 1%;	
	text-align: left;
}
}


