@media only screen and (max-width: 1000px){
.pictures{
	grid-template-columns: repeat(1, 1fr);
}
.pictures .pict_kvarz1, .pictures .pict_kvarz2, 
.pictures .pict_kvarz3, .pictures .pict_kvarz4, 
.pictures .pict_mram1, .pictures .pict_mram2{	
	width: 100%;	   
    margin: 15px auto 5px auto;	
}
}

@media only screen and (max-width: 900px){	
	#textKvarz{	
	font: bold 1em Arial, sans-serif;
}
}

@media only screen and (max-width: 700px){
	h1{
		font: bold 0.9em Arial, sans-serif;
	}
	th{
		font: bold 1em Arial, sans-serif;
	}
	td{
		font: bold 1em Arial, sans-serif;
	}
	.primechanie{
        font: bold 1em Arial, sans-serif;
    }   
}

@media only screen and (max-width: 450px){
	h1{
		font: bold 0.85em Arial, sans-serif;
	}
	th{
		font: bold 0.9em Arial, sans-serif;
	}
	td{
		font: bold 0.9em Arial, sans-serif;
	}
	.primechanie{
        font: bold 0.9em Arial, sans-serif;
    }   
}

@media only screen and (max-width: 400px){
	h1{
		font: bold 0.85em Arial, sans-serif;
	}
	th{
		font: bold 0.85em Arial, sans-serif;
	}
	td{
		font: bold 0.85em Arial, sans-serif;
	}
	.primechanie{
        font: bold 0.85em Arial, sans-serif;
    }   
	#textKvarz{	
	    font: bold 0.9em Arial, sans-serif;
	}
}
	