@media only screen and (max-width: 1000px){
  h1 {    
    font: bold 0.9em Arial, sans-serif;
  }  
}

@media only screen and (max-width: 700px){ 
  #textSalt, #textSmes, #textBishofit{
    font: 1em Arial, sans-serif;
  }  
}

@media only screen and (max-width: 550px){
  h1 {    
    font: bold 0.8em Arial, sans-serif;
  }
  #textSalt, #textSmes, #textBishofit{
    font: 1em Arial, sans-serif;
  }
  .accent {    
    font: bold 1em Arial, sans-serif;
  }  
}

@media only screen and (max-width: 450px){
  h1 {    
    font: bold 0.7em Arial, sans-serif;
  }  
  #textSalt, #textSmes, #textBishofit{    
    font: bold 0.9em Arial, sans-serif;
  } 
}


