@media only screen and (max-width: 1165px){
	#mapText{
	width: 90%;
	margin: 5px 5%;	
	font: bold 1.1875em Arial, Calibri, Tahoma;					
}
}

@media only screen and (max-width: 577px){	
	#topline_kontakty{
	font: bold 1.2em Arial, Calibri, Tahoma;
}
	#mapText{
	width: 95%;
	margin-top: 5px auto;	
}	
}

@media only screen and (max-width: 465px){	
	#topline_kontakty{
	font: bold 1em Arial, Calibri, Tahoma;
}	
	#mapText{
	width: 90%;
	margin: 5px auto;	
}	
}

@media only screen and (max-width: 354px){	
	#mapText{
	width: 98%;
	margin: 5px 1%;	
	font: bold 1em Arial, Calibri, Tahoma;		
} 	
}

