@media only screen and (max-width: 1000px){
	.pictures{
	grid-template-columns: repeat(1, 1fr);	
	}
	.pictures .pict_keramzit1, .pictures .pict_keramzit2{
	width: 100%;	   
    margin: 15px auto 5px auto;	
	}
}

@media only screen and (max-width: 700px){
	.up {    
    font: bold 1em Arial, sans-serif;
	}	
}

@media only screen and (max-width: 550px){
	#textKeramzit {    
    font: bold 1em Arial, sans-serif;
	}	
}

@media only screen and (max-width: 450px){
	#textKeramzit {    
    font: 0.9em Arial, sans-serif;
	}	
}


